server:
  port: 8080

spring:
  application:
    name: ShoppingProject
  datasource:
    url: "jdbc:mysql://localhost:3306/micro_practice_order"
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: order-service
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
